{{#if title}}
	<div class="header">
		<div class="ui flex space between vCenter">
			{{title}}
			<i class="new-icon cancel"></i>
		</div>
	</div>
{{/if}}
<div class="content">
	{{#if innerLayout}}
		{{component innerLayout model=childModel}}
	{{/if}}
	{{yield}}
</div>

<div class="actions">
	<div class="custom-footer" style="float: left"></div>
    {{#if cancelLabel}}
		<div class="ui basic deny button">
			{{cancelLabel}}
		</div>
    {{/if}}
    {{#if successLabel}}
		<div class="ui positive primary right button">
			{{successLabel}}
		</div>
    {{/if}}
</div>
